/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  #background-image: url("https://cdn.glitch.com/bd95dd45-4969-4a27-bb99-f39e5440171f%2Fcat.jpg?1534705250842")

}
h1{
  color: #373fff;
}
h1,h2 {
  font-style: italic;

}
#titleArea{
  background-color:rgba(255, 255, 255, 0.5);
  display:inline-block;
  border-radius: 25px;
}
.buttonGroup{
    width: 50%; /* Set a width if needed */
}


/* Add a background color on hover */
.buttonGroup button:hover {
    #background-color: #3e8e41;
  background-color:white;
}
button{
  width:100px;
}
#todoList{
  background-color:rgba(255, 255, 255, 0.5);
  display:inline-block;
  border-radius: 25px;
  border-width:2px;
  border-style:solid;
  min-width: 100px;
  visibility: hidden;
  margin-top: 20px;
  padding: 5px;
}
#todoList:hover{
  backgroud-color:white;
}
.numberInput{
  width: 30px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
